<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @wish.category_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @wish.context %>
</p>

<p>
  <strong>Status:</strong>
  <%= @wish.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @wish.user_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @wish.order %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
