<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

  <div class="field form-group">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field form-group">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field form-group">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field form-group">
    <%= form.label :order %>
    <%= form.text_field :order %>
  </div>

  <div class="field form-group">
    <%= form.label :integer %>
    <%= form.text_field :integer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
