<br>
<h2>Danh sách người dùng</h2>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Địa chỉ email</th>
      <th scope="col">Quyền</th>
      <th scope="col">Ngày tạo</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Chỉnh sửa</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= user.email %></td>
        <td><%= user.created_at&.strftime('%I:%M%p %d/%m/%Y') %></td>
        <td><%= user.role == role_admin ? "Người quản trị" : "Người dùng" %></td>
        <td><%= user.status == 1 ? "Đang hoạt động" : "Đã xóa" %></td>
        <td><%= link_to 'Chi tiét', user %> / <%= link_to 'Sửa', edit_user_path(user) %> / <%= link_to 'Xóa', user, method: :delete, data: { confirm: 'Bạn có chắc không?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>

<br>

<%= link_to 'New User', new_user_path %>
