<%= form_tag(update_all_events_path) do %>
  <div class="d-flex justify-content-between p-3">
    <div class="">
      <h3>Danh sách sự kiện</h3>
    </div>

    <div class="">
      <button type="button" id="addEvent" class="btn btn-light">Tạo sự kiện</button>
      <input type="submit" name="commit" value="Cập nhật tất cả sự kiện" class="btn btn-light">
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tên sự kiện</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Ngưởi tạo</th>
        <th scope="col">Ngày cập nhật</th>
        <th scope="col">Đề mục sự kiện</th>
      </tr>
    </thead>
    <tbody class="events">
      <% @events.each do |event| %>
        <tr class="event">
          <input type="hidden" name="<%= "type@#{event.id}" %>"value="update" />
          <th scope="row">
            <input type="text" name="<%= "content@#{event.id}" %>" class="form-control" value="<%= event.content %>">
          </th>
          <td>
            <select name="<%= "status@#{event.id}" %>" class="form-control">
              <option value="1" <%= "selected" if event.status == 1 %> >Đang hiển thị</option>
              <option value="9" <%= "selected" if event.status == 9 %>>Xóa</option>
            </select>
          </td>
          <td><%= get_email_user(event.user_id) %></td>
          <td>
            <%= event.updated_at&.strftime('%I:%M%p %d/%m/%Y') %>
          </td>
          <td>
            <%= link_to name_button_category(event), categories_path(event_id: event.id), class: "btn btn-light" %>
          </td>
        </tr>
      <% end%>

      <tr class="event event-template" style="display: none;">
        <input type="hidden" class="form-control" name="type" value="create" />
        <th scope="row">
          <input type="text" name="content" class="form-control" value="" placeholder="Điền tên sự kiện">
        </th>
        <td>
          <select name="status" class="form-control">
            <option value="1" selected>Đang hiển thị</option>
            <option value="9" >Xóa</option>
          </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% end %>

<input type="hidden" id="max-id" name="max-id" value="<%= @max_id %>" />

<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'events' %>

