<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Công khai</th>
      <th scope="col">Tên</th>
      <th scope="col">Người tạo</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Chỉnh sửa</th>
      <th scope="col">Id lớp</th>
      <th scope="col">Loại lớp</th>
      <th scope="col">Nội dung</th>
      <th scope="col">Các thông số phụ</th>
      <th scope="col">Chỉnh sửa lớp</th>
    </tr>
  </thead>
  <tbody>
      <% @cards.each do |card| %>
        <% 
          layers = LayersOnCard.where(card_id: card.id, status: 1)
          rowspan = (layers.size > 1 ? layers.size : 1)
          email_user = User.find_by(id: card.user_id).email
        %>

        <tr>
          <th scope="row" rowspan="<%= rowspan %>"><%= card.id %></th>
          <td rowspan="<%= rowspan %>"><%= card.is_public ? "Công khai" : "Không công khai" %></td>
          <td rowspan="<%= rowspan %>"><%= card.name %></td>
          <td rowspan="<%= rowspan %>"><%= email_user == "not_login@gmail.com" ? "Tài khoản chưa đăng nhập" : email_user %></td>
          <td rowspan="<%= rowspan %>"><%= card.status == 1 ? "Đang hoạt động" : "Đã bị xóa" %></td>
          <td rowspan="<%= rowspan %>">
            <%= link_to 'Chi tiết', card %>
             / <%= link_to 'Sửa', edit_card_path(card) %>
             <% if card.status == 1%>
              / <%= button_to 'Xóa', card, method: :delete, class: "btn btn-link btn-sm btn-delete", data: { confirm: 'Bạn có chắc không?' } %>
             <% end %>
          </td>
          <%= render "td_layer.html.erb", layers_on_card: layers.first %>
        </tr>

        <% layers.each_with_index do |layer, index| %>
          <% next if index == 0 %>
          
          <tr>
            <%= render "td_layer.html.erb", layers_on_card: layer %>
          </tr>
        <% end %>
      <% end%>
  </tbody>
</table>

<%= paginate @cards %>
