<table class="table">
  <thead>
    <tr>
      <th scope="col">Trạng thái</th>
      <th scope="col">Địa chỉ thiệp công khai</th>
      <th scope="col">Chỉnh sửa</th>
      <th scope="col">Xóa</th>
    </tr>
  </thead>
  <tbody>
      <% @cards.each do |card| %>
        <% 
          layers = LayersOnCard.where(card_id: card.id, status: 1)
          email_user = User.find_by(id: card.user_id).email
        %>

        <tr>
          <td><%= card.is_public ? "Công khai" : "Không công khai" %></td>
          <td>
            <%= link_to design_cards_url(card_id: card.id, public: 1), design_cards_url(card_id: card.id, public: 1) %>
          </td>
          <td>
            <%= link_to 'Chi tiết', design_cards_path(card_id: card.id), class: "btn btn-light" %>
          </td>
          <td>
            <%= button_to 'Xóa', card, method: :delete, class: "btn btn-light btn-delete", data: { confirm: 'Bạn có chắc không?' } %>
          </td>
        </tr>
      <% end%>
  </tbody>
</table>

<%= paginate @cards %>

<br>

<%= link_to 'Tạo thiệp mới', new_card_path, class: "btn btn-link m-2" %>
