<%= stylesheet_link_tag 'design', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="box">
  <div class="container">
    <section class="tools-board">
      <div class="row">
        <label class="title">Các lớp</label>
        <ul class="layers">
          <li class="layer">
            <input type="checkbox" class="select">
            <input type="text" class="type-text" placeholder="Ảnh bìa" disabled>
            <%= image_tag("background/back.jpg", alt: "Ảnh bìa", style: "display: none", id: "imageInput") %>
          </li>
          <li class="layer layer-template-text"  style="display: none;">
            <input type="checkbox" class="select">
            <textarea class="type-text" placeholder="Lời chúc" rows="1"></textarea>
            <button class="delete-layer"><%= image_tag("icon/xmark-solid.svg", alt: "x", class: "svg-delete") %></button>
          </li>
          <li class="layer layer-textarea layer-template-textarea" style="display: none;">
            <input type="checkbox" class="select">
            <textarea class="type-textarea" placeholder="Lời chúc dài" rows="3"></textarea>
            <button class="delete-layer"><%= image_tag("icon/xmark-solid.svg", alt: "x", class: "svg-delete") %></button>
          </li>
          <li class="layer" style="display: none;">
            <input type="checkbox" class="select">
            <input type="file" accept="image/*">
            <button class="delete-layer"><%= image_tag("icon/xmark-solid.svg", alt: "x", class: "svg-delete") %></button>
          </li> 
        </ul>
      </div>
    </section>
    
    <section class="canvas-board">
      <div id="resizable">
        <p><%= @content %></p>
        <div class="resizer top-left"></div>
        <div class="resizer top-right"></div>
        <div class="resizer bottom-left"></div>
        <div class="resizer bottom-right"></div>
      </div>
    </section>

    <section class="detail-board">
      <div class="row row-board">
        <label class="title">Thuộc tính của lớp</label>
        <ul class="detail detail-template" style="display: none;">
          <li class="attribute">
            <div class="label-attribute">Font chữ:</div>
            <select class="input-attribute" id="fontSelect">
              <option value="Arial">Arial</option>
              <option value="Times New Roman">Times New Roman</option>
              <option value="Verdana">Verdana</option>
            </select>
          </li>
          <li class="attribute">
            <span>Màu sắc:</span>
            <input class="input-attribute" type="color" id="colorPicker" value="#000000">
          </li>
          <li class="attribute">
            <div class="label-attribute">Kích thước:</div>
            <select class="input-attribute" id="fontSizeSelect">
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="20">20</option>
              <option value="22">22</option>
              <option value="24">24</option>
            </select>
          </li>
          <li class="attribute">
            <div class="label-attribute">Căn chỉnh ngang:</div>
            <select class="input-attribute" id="textAlignSelect">
              <option class="align-center" value="Center">Giữa</option>
              <option class="align-left" value="Left">Trái</option>
              <option class="align-right" value="Right">Phải</option>
            </select>
          </li>
          <li class="attribute">
            <div class="label-attribute">Căn chỉnh dọc:</div>
            <select class="input-attribute" id="textVerticalSelect">
              <option class="text-top" value="Top">Trên</option>
              <option class="text-middle" value="Middle">Giữa</option>
              <option class="text-bottom" value="Bottom">Dưới</option>
            </select>
          </li>
          <li class="attribute">
            <div class="label-attribute">Loại chữ:</div>
            <select class="input-attribute" id="textTypeSelect">
              <option class="text-bold" value="Bold">In đậm</option>
              <option class="text-italic" value="Italic">In nghiêng</option>
            </select>
          </li>
        </ul>
      </div>

      <div class="row buttons">
        <button id="deleteLastLayer" class="delete-last-layer">Xóa lớp cuối</button>
        <div class="add-buttons">
          <button id="addText" class="add-layer add-text-botton">Thêm lớp lời chúc</button>
          <div class="space"></div>
          <button id="addLongText" class="add-layer">Thêm lờp lời chúc dài</button>
        </div>
        <button id="addImageAndTextBtn" class="add-layer">Thêm ảnh</button>
      </div>
    </section>
  </div>
</div>

<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'design' %>
