<%= stylesheet_link_tag 'design', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= form_tag(create_card_and_layers_cards_path, class: "box") do %>
  <div class="container">
    <%# Phần hiển thị các lớp %>
    <section class="tools-board">
      <div class="row">
        <label class="title">Các lớp</label>
        <ul class="layers">
          <li class="layer">
            <input type="checkbox" class="select">
            <input type="text" class="type-text" placeholder="Ảnh bìa" disabled>
            <%= image_tag("background/back.jpg", alt: "Ảnh bìa", style: "display: none", id: "imageInput") %>
          </li>
          <li class="layer layer-template-text"  style="display: none;">
            <input type="checkbox" class="select">
            <textarea class="text type-text" placeholder="Lời chúc" rows="1"></textarea>
            <button class="delete-layer"><%= image_tag("icon/xmark-solid.svg", alt: "x", class: "svg-delete") %></button>
          </li>
          <li class="layer layer-textarea layer-template-textLong" style="display: none;">
            <input type="checkbox" class="select">
            <textarea class="text type-textarea" placeholder="Lời chúc dài" rows="3"></textarea>
            <button class="delete-layer"><%= image_tag("icon/xmark-solid.svg", alt: "x", class: "svg-delete") %></button>
          </li>
          <li class="layer" style="display: none;">
            <input type="checkbox" class="select">
            <input type="file" accept="image/*">
            <button class="delete-layer"><%= image_tag("icon/xmark-solid.svg", alt: "x", class: "svg-delete") %></button>
          </li> 
        </ul>
      </div>
    </section>
    
    <%# Phần hiển thị ảnh %>
    <section class="canvas-board">
      <div class="box-layer box-layer-text box-layer-text-template" style="display: none;">
        <p class="text-content"></p>
        <div class="resizer top-left"></div>
        <div class="resizer top-right"></div>
        <div class="resizer bottom-left"></div>
        <div class="resizer bottom-right"></div>
      </div>
    </section>

    <%# Phần hiển thị các thuộc tính %>
    <section class="detail-board">
      <div class="row row-board">
        <label class="title">Thuộc tính của lớp</label>
        <ul class="detail detail-template" style="display: none;">
          <li class="attribute">
            <div class="label-attribute">Font chữ:</div>
            <select class="input-attribute input-text-font">
              <option value="Arial">Arial</option>
              <option value="Times New Roman">Times New Roman</option>
              <option value="verdana">Verdana</option>
            </select>
          </li>
          <li class="attribute">
            <span>Màu sắc:</span>
            <input class="input-attribute input-text-color" type="color" value="#000000">
          </li>
          <li class="attribute">
            <div class="label-attribute">Kích thước:</div>
            <input class="input-attribute input-number input-text-size" value="12" type="number" min="1" max="200">
          </li>
          <li class="attribute">
            <div class="label-attribute">Căn ngang:</div>
            <select class="input-attribute input-text-align">
              <option class="align-center" value="Center">Giữa</option>
              <option class="align-left" value="Left">Trái</option>
              <option class="align-right" value="Right">Phải</option>
            </select>
          </li>
          <li class="attribute">
            <div class="label-attribute">Căn dọc:</div>
            <select class="input-attribute input-text-vertical">
              <option class="text-top" value="top">Trên</option>
              <option class="text-middle" value="middle">Giữa</option>
              <option class="text-bottom" value="bottom">Dưới</option>
            </select>
          </li>
          <li class="attribute">
            <div class="label-attribute">Loại chữ:</div>
            <select class="input-attribute input-text-type">
              <option class="text-normal" value="normal">Bình thường</option>
              <option class="text-bold" value="bold">In đậm</option>
              <option class="text-italic" value="italic">In nghiêng</option>
            </select>
          </li>
          <li class="attribute">
            <div class="label-attribute">Chiều rộng:</div>
            <input class="input-attribute input-number input-text-width" type="number" min="1" max="1000">
          </li>
          <li class="attribute">
            <div class="label-attribute">Chiều dài:</div>
            <input class="input-attribute input-number input-text-height" type="number" min="1" max="1000">
          </li>
          <input class="input-attribute input-text-top" type="hidden">
          <input class="input-attribute input-text-left" type="hidden">
        </ul>
      </div>

      <div class="row buttons">
        <div class="add-buttons">
          <button id="addText" class="add-layer add-text-botton">Thêm lớp lời chúc</button>
          <div class="space"></div>
          <button id="addLongText" class="add-layer">Thêm lờp lời chúc dài</button>
        </div>
        <button id="addImageAndTextBtn" class="add-layer">Lưu thiết kế</button>
      </div>
    </section>
  </div>

  <%= hidden_field_tag 'index', 1 %>
<% end %>

<%= hidden_field_tag 'wish_title', @title.to_s %>
<%= hidden_field_tag 'wish_content', @content.to_s %>
<%= hidden_field_tag('card_flg', '1') if @card.present? %>

<script>
  const layers = <%= @layers.to_json.html_safe %>
</script>

<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'design' %>
