<p id="notice"><%= notice %></p>

<p>
  <strong>Is public:</strong>
  <%= @card.is_public %>
</p>

<p>
  <strong>Status:</strong>
  <%= @card.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @card.user_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @card.order %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
