<%= form_tag(update_all_categories_path) do %>
  <div class="d-flex justify-content-between p-3">
    <div class="">
      <h3>Danh sách đề mục của sự kiện: <%= @event&.content %></h3>
    </div>

    <div class="">
      <button type="button" id="addCategory" class="btn btn-light">Tạo đề mục</button>
      <input type="submit" name="commit" value="Cập nhật tất cả đề mục" class="btn btn-light">
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tên sự kiện</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Ngưởi cập nhật</th>
        <th scope="col">Ngày cập nhật</th>
        <th scope="col">Chi tiết đề mục</th>
      </tr>
    </thead>
    <tbody class="categories">
      <% @categories.each do |category| %>
        <tr class="category">
          <input type="hidden" name="<%= "type@#{category.id}" %>"value="update" />
          <th scope="row">
            <input type="text" name="<%= "content@#{category.id}" %>" class="form-control" value="<%= category.content %>">
          </th>
          <td>
            <select name="<%= "status@#{category.id}" %>" class="form-control">
              <option value="1" <%= "selected" if category.status == 1 %> >Đang hiển thị</option>
              <option value="9" <%= "selected" if category.status == 9 %>>Xóa</option>
            </select>
          </td>
          <td><%= get_email_user(category.user_id) %></td>
          <td>
            <%= category.updated_at&.strftime('%I:%M%p %d/%m/%Y') %>
          </td>
          <td>
            <%= link_to "Danh sách #{Wish.where(status: 1, category_id: category.id).size} lời chúc", wishes_path(category_id: category.id), class: "btn btn-light" %>
          </td>
        </tr>
      <% end%>

      <tr class="category category-template" style="display: none;">
        <input type="hidden" class="form-control" name="type" value="create" />
        <th scope="row">
          <input type="text" name="content" class="form-control" value="" placeholder="Điền tên đề mục">
        </th>
        <td>
          <select name="status" class="form-control">
            <option value="1" selected>Đang hiển thị</option>
            <option value="9" >Xóa</option>
          </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <input type="hidden" name="event_id" value="<%= @event&.id %>" />
<% end %>

<input type="hidden" id="max-id" name="max-id" value="<%= @max_id %>" />
<%= link_to 'Trở về danh sách sự kiện', events_path, class: "btn btn-light m-2" %>

<%= javascript_include_tag 'lib/jquery' %>
<%= javascript_include_tag 'lib/jquery-ui' %>
<%= javascript_include_tag 'categories' %>


