<p>
  <strong>Event:</strong>
  <%= @category.event_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @category.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @category.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @category.user_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @category.order %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
