<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo/logo_2.png", size: "50x50", alt: "Edit Entry") %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= list_image_fix_pictures_path %>">Ảnh đẹp</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= cards_path %>">Thiệp của bạn</a>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Lời chúc
        </a>
        <div class="dropdown-menu">
          <% @events.each do |event| %>
            <a class="dropdown-item" href="<%= list_wishes_events_path(id: event.id) %>"><%= event.content %></a>
          <% end %>
        </div>
      </li>
      <% if is_current_admin? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= events_path %>">Quản lý sự kiện</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= cards_path(role: role_admin) %>">Quản lý thiệp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= users_path %>">Quản lý người dùng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= fix_pictures_path %>">Quản lý ảnh</a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu">
            <%= button_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "btn btn-link"  %>
          </div>
        </li>
      </ul>
    <% else %>
      <%= link_to "Đăng nhập", new_user_session_path  %>
    <% end%>
  </div>
</nav>