<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Web làm thiệp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= cards_path %>">Thiệp đã tạo</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Lời chúc
        </a>
        <div class="dropdown-menu">
          <% @events.each do |event| %>
            <a class="dropdown-item" href="<%= list_wishes_events_path(id: event.id) %>"><%= event.content %></a>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Quản trị lời chúc, sự kiện
        </a>
        <div class="dropdown-menu">
          <%# <a class="dropdown-item" href="<%= users_path %>">Danh sách người dùng</a> %>
          <a class="dropdown-item" href="<%= events_path %>">Danh sách sự kiện</a>
          <a class="dropdown-item" href="<%= categories_path %>">Đề mục của sự kiện</a>
          <a class="dropdown-item" href="<%= wishes_path %>">Danh sách mời chúc</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Quản trị thiệp
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="<%= cards_path %>">Danh sách Thiệp</a>
          <a class="dropdown-item" href="<%= layers_on_cards_path %>">Danh sách lớp</a>
          <a class="dropdown-item" href="<%= images_path %>">Danh sách lớp ảnh</a>
          <a class="dropdown-item" href="<%= texts_path %>">Danh sách lớp chữ</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu">
            <%= button_to "Đăng xuất", destroy_user_session_path, method: :delete  %>
          </div>
        </li>
      </ul>
    <% else %>
      <%= link_to "Đăng nhập", new_user_session_path  %>
    <% end%>
  </div>
</nav>