<!DOCTYPE html>
<html>
  <head>
    <title>MadeCard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'use_bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'custom' %>
  </head>

  <body>
    <%= render "./layouts/navbar.html.erb" %>
    <% if notice.present? || alert.present? %>
      <div class="container-fluid">
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'jquery_slim', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap_bundle', media: 'all', 'data-turbolinks-track': 'reload' %>
</html>
